.linkedin {
  color: #4875b4;
  font-family: clipneon;
  font-size: 6vw;
  line-height: 6vw;
  margin-left: 10vw;
  text-shadow: 0.1px 0px 4px #4875b4, 2px 0px 4px #4875b4, 3px 0px 4px #4875b4,
    0.1vw 0vw 0.1vw #1041ff, 0.2vw 0vw 0vw #1041ff, 0.4vw 0vw 0vw #1041ff,
    0.1vw 0vw 0.1vw #1041ff, 0.2vw 0vw 0.1vw #1041ff, 0.4vw 0vw 0vw #1041ff,
    0.1vw 0vw 0.8vw #1041ff, 0.2vw 0vw 0.8vw #1041ff, 0.4vw 0vw 0.8vw #1041ff,
    0.2vw 0vw 0.5vw #1041ff, 0.1vw 0vw 0.5vw #1041ff, 0.2vw 0vw 0.5vw #1041ff,
    0.4vw 0vw 0.5vw #1041ff, 0.1vw 0vw 10vw #1041ff, 0.2vw 0vw 30vw #1041ff,
    0.4vw 0vw 10vw #1041ff, 0.1vw 0vw 10vw #1041ff, 0.2vw 0vw 30vw #1041ff,
    0.4vw 0vw 10vw #1041ff;
  color: #28d7fe;
}

.sign-four {
  text-decoration: none;
  color: #f0d6de;
  font-family: clipneon;
  font-size: 7vw;
  line-height: 6vw;
  margin-right: 7vw;
  text-shadow: 0.1vw 0vw 0.2vw #f0d6de, 0.2vw 0vw 0.2vw #f0d6de,
    0.4vw 0vw 0.2vw #f0d6de, 0.1vw 0vw 0.1vw #f181b2, 0.2vw 0vw 0vw #f181b2,
    0.4vw 0vw 0vw #f181b2, 0.1vw 0vw 0.1vw #f181b2, 0.2vw 0vw 0.1vw #f181b2,
    0.4vw 0vw 0vw #f181b2, 0.1vw 0vw 1vw #f181b2, 0.2vw 0vw 2vw #f181b2,
    0.4vw 0vw 2vw #f181b2, 0.2vw 0vw 5vw #f181b2, 0.1vw 0vw 0.5vw #f20b70,
    0.2vw 0vw 0.5vw #f20b70, 0.4vw 0vw 6vw #f20b70, 0.1vw 0vw 10vw #f20b70,
    0.2vw 0vw 30vw #f20b70, 0.4vw 0vw 10vw #f20b70;
}

#iconcontainer {
  /* display: table-cell; */
  margin-bottom: 100px;
  text-align: center;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
}

.flicker-slow {
  animation: effect 3s linear infinite;
}

.flicker-fast {
  animation: effect 1s linear infinite;
}

@keyframes effect {
  0%,
  19.999%,
  22%,
  62.999%,
  64%,
  64.999%,
  70%,
  100% {
    opacity: 0.99;
  }
  20%,
  21.999%,
  63%,
  63.999%,
  65%,
  69.999% {
    opacity: 0.4;
  }
}

h4 {
  align-self: center;
  text-align: center;
  vertical-align: center;
  font-size: 3em;
  margin: 5px 0 5px 0;
  color: #4dd0e1;
  font-family: clipneon;
}

h4 a {
  font-size: 1.0em;
  color: #4dd0e1;
  font-family: clipneon;
  text-decoration: none;
}

h4 a:hover {
  -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
  -moz-animation: neon2 1.5s ease-in-out infinite alternate;
  animation: neon2 1.5s ease-in-out infinite alternate;
  text-decoration: none;
}

@keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #4dd0e1, 0 0 70px #4dd0e1, 0 0 80px #4dd0e1;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #4dd0e1, 0 0 35px #4dd0e1;
  }
}

/* mozilla */
@-moz-keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
  }
}