.scrolling {
  height: 60px;
  overflow: hidden;
  position: relative;
}

.company {
  font-size: 3em;
  font-family: clipneon;
  color: #fff;
  text-shadow: -0.2rem -0.2rem 1rem #fff, 0.2rem 0.2rem 1rem #fff,
    0 0 2rem var(--neon-text-color);
}

.sign2 {
  margin-top: 20px;
  margin-bottom: 20px;
  text-shadow: 0vw 0vw 3vw #f40a35;
  color: #a9ffdc;
  font-family: clipneon;
  font-size: 3vw;
  line-height: 3vw;
  margin-bottom: 50;
  color: #fff;
  text-shadow: 
    /* .1vw 0vw .25vw #FDF8FD, .2vw 0vw .25vw #FDF8FD, .4vw 0vw .25vw #FDF8FD,  */
    /* .1vw 0vw .1vw #F1EC81, .2vw 0vw 0vw #F1EC81, .4vw 0vw 0vw #F1EC81, */
    /* .1vw 0vw .1vw #F1EC81, .2vw 0vw .1vw #F1EC81, .4vw 0vw 0vw #F1EC81, */
    .1vw 0vw 1vw #F1EC81, .2vw 0vw 2vw #F1EC81, .4vw 0vw 2vw #F1EC81, .2vw 0vw 5vw #F1EC81,
    .1vw 0vw .5vw #F2E90B, .2vw 0vw .5vw #F2E90B, .4vw 0vw 6vw #F2E90B;
    /* .1vw 0vw 2vw #F2E90B, .2vw 0vw 5vw #F2E90B, .4vw 0vw 0vw #F2E90B; */
}

.scrolling h3 {
  font-size: 2em;
  font-family: clipneon;
  float: left;
  color: #fff;
  text-shadow: -0.2rem -0.2rem 1rem #fff, 0.2rem 0.2rem 1rem #fff,
    0 0 2rem var(--neon-text-color);
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 10px;
  text-align: left;
  /* Starting position */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  /* Apply animation to this element */
  -moz-animation: scrolling 13s linear infinite;
  -webkit-animation: scrolling 13s linear infinite;
  animation: scrolling 13s linear infinite;
}

/* Move it (define the animation) */
@-moz-keyframes scrolling {
  0% {
    -moz-transform: translateX(10%);
  }
  100% {
    -moz-transform: translateX(20%);
  }
}
@-webkit-keyframes scrolling {
  0% {
    -webkit-transform: translateX(10%);
  }
  100% {
    -webkit-transform: translateX(-50%);
  }
}
@keyframes scrolling {
  0% {
    -moz-transform: translateX(100%); /* Firefox bug fix */
    -webkit-transform: translateX(100%); /* Firefox bug fix */
    transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%); /* Firefox bug fix */
    -webkit-transform: translateX(-100%); /* Firefox bug fix */
    transform: translateX(-100%);
  }
}
