:root {
  --spacing-size-a: 5px;
  --spacing-size-b: 10px;
  --spacing-size-c: 15px;
  --spacing-size-d: 20px;
  --spacing-size-e: 25px;
  --spacing-size-f: 30px;

  --m-text-size: 28px;
  --l-text-size: 36px;
  --xl-text-size: 48px;
}

body {
  background: url("./static/black_brick_wall.jpg");
  background-size: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  margin: auto 100px;
  object-fit: contain;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  color: #fff;
  font-family: clipneon;
  font-size: var(--l-text-size);
  text-shadow: -0.2rem -0.2rem 1rem #fff, 0.2rem 0.2rem 1rem #fff,
    0 0 2rem var(--neon-text-color);
}
